* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

.header-wrapper {
  // background-color: aquamarine;
  height: 100px;
  width: 100%;
  padding: 0 24px;
  border-bottom: 1px solid #e6e6e6;
  .header__main {
    // background-color: bisque;
    height: 50px;
    width: 100%;
    &--title {
      font-size: 20px;
      font-weight: 900;
      line-height: 50px;
    }
  }
  .header__navi {
    // background-color: lightsteelblue;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    &__menu {
      display: flex;
      line-height: 50px;
      &--list {
        margin-right: 30px;
        font-size: 16px;
        font-weight: bold;
        a {
          color: #797979
        }
      }
    }
    &__user {
      display: flex;
      &--info {
        border: 2px solid #757eff;
        align-items: center;
        border-radius: 6px;
        padding: 10px 20px;
        margin: 5px;
        font-size: 12px;
        font-weight: bold;
        a {
          color: #555555;
        }
      }
    }
  }
}

.side-wrapper {
  // background-color: khaki;
  padding: 24px 16px 24px 0px;
  margin-right: 24px;
  width: 192px;
  .main-category__container {
    // background-color: lightcoral;
    .main-category__section {
      // position: relative;
      // background-color: lightgreen;
      .main-category__title {
        // background-color: mediumpurple;
        padding: 8px 8px;
        color: #787c7b;
        position: relative;
        p {
          margin-left: 30px;
        }
      }
      .main-category__title::before {
        content: "";
        position: absolute;
        display: block;
        top: 38%;
        border-top: 3px solid #787c7b;
        border-right: 3px solid #787c7b;
        width: 8px;
        height: 8px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      .main-category__title.open::before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 38%;
      }
      .js-accordion-content {
        .sub-category {
          margin-left: 20px;
          padding-bottom: 16px;
          &__title {
            // background-color: rgb(28, 126, 77);
            padding: 4px 16px;
            font-size: 14px;
            a {
              color: #787c7b;
            }
          }
        }
      }
    }
  }
}

.main-wrapper {
  // background-color: orange;
  width: calc(100vw - 192px);
  padding-top: 24px;
  .main-header {
    // background-color: orchid;
    height: 100px;
    width: 100%;
    margin-bottom: 24px;
    .breadcrumb {
      margin-bottom: 8px;
      color: #787c7b;
    }
    .mani-category {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: .04em;
    }
  }
  .main-content {
    // background-color: palegoldenrod;
    height: calc(100vh - 148px);
    width: 100%;
    .book-list {
      // background-color: palegreen;
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            // background-color: paleturquoise;
            display: flex;
            padding-bottom: 60px;
            .book-img {
              margin-right: 30px;
              img {
              height: 210px;
              width: 140px;
              object-fit: cover;
              border-radius: 4px;
              }
            }
            .book-description {
              width: 320px;
              margin-right: 80px;
              position: relative;
              &__title {
                // background-color: palevioletred;
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 8px;
              }
              &__article {
                // background-color: peru;
                font-size: 14px;
                letter-spacing: .04em;
                color: #787c7b;
                word-break: break-all;
                margin-bottom: 8px;
                text-align: justify;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 6;
                overflow: hidden;
              }
              &__like {
                position: absolute;
                bottom: 0;
              }
            }
          }
        }
    }
  }
}

