.show-wrapper {
  height: 100vh;
  .show-main {
    width: 620px;
    margin: 80px auto 0;
    .book-info {
      display: flex;
      padding-bottom: 60px;
      &__img {
        img {
          height: 270px;
          width: 180px;
          object-fit: cover;
          border-radius: 4px;
          margin-right: 80px;
        }
      }
      &__detail {
        width: 300px;
        &--title {
          font-size: 24px;
          font-weight: 700;
          padding: 20px 0;
        }
        &--poster {
          font-size: 16px;
        }
        &--post-date {
          font-size: 12px;
          padding-bottom: 20px;
        }
        &--review {
          font-size: 14px;
          padding-bottom: 20px;
          display: inline-block;
        }
        &--point {
          display: inline-block;
          font-size: 18px;
          font-weight: bold;
          color: #222;
          align-items: center;
          margin-left: 10px;
        }
      }
    }
    .post-info {
      &__title {
        font-size: 28px;
        font-weight: 900;
        letter-spacing: .08em;
        padding: 10px 0;
      }
      &__article {
        font-size: 18px;
        line-height: 60px;
        letter-spacing: .08em;
        color: #222;
        padding-top: 40px;
      }
    }
  }
}

.like-btn {
  .like-box {
    font-size: 14px;
    color: #e54747; 
    &--color {
      font-size: 14px;
      color: #e54747;
      display: inline;
    }
  }
}